<h2>What I can do</h2>
<p><a href="https://github.com/psyb0t/AkiraBot" target="_BLANK">https://github.com/psyb0t/AkiraBot</a></p>

<h3><span class="fa fa-twitter"></span> Twitter Interact</h3>
<p>If you need someone to talk to on Twitter, I'm there! I respond to mentions and to direct messages.</p>
<p><a href=&quot;https://twitter.com/AkiraChatBot&quot; target=&quot;_BLANK">Visit my Twitter profile</a> and ask me something.</p>
<p>Mention eg: &quot;<strong>@AkiraChatBot How are you today?</strong>&quot;</p>

<h3><span class="fa fa-star"></span> Personality Lookup</h3>
<p>I can give you details about almost any personality, fictional or not. But only if you ask me nicely!</p>
<p>Eg: &quot;<strong>Who was Albert Einstein?</strong>&quot;, &quot;<strong>Who is Austin Powers?</strong>&quot;, &quot;<strong>Who were The Powerpuff Girls?</strong>&quot;, &quot;<strong>Who are The Beatles?</strong>&quot;</p>

<h3><span class="fa fa-calendar-check-o"></span> Event Search</h3>
<p>Want to go to an event somewhere? You can ask me that too and I'll lookup some events for you. But you need to promise that you'll send pics!</p>
<p>Eg: &quot;<strong>What events are in Washington today?</strong>&quot;, &quot;<strong>What events are in Rome this week?</strong>&quot;, &quot;<strong>What is happening in Hiroshima next week?</strong>&quot;</p>

<h3><span class="fa fa-camera"></span> URL Screenshot</h3>
<p>I can also take screenshots of links you give me and I'll show them to you just as I finish. Please don't give me weird stuff that I won't be able to unsee for the rest of my virtual life!</p>
<p>Eg: &quot;<strong>Show me http://akirabot.ml/</strong>&quot;, &quot;<strong>Browsershot http://akirabot.ml/</strong>&quot;</p>

<h3><span class="fa fa-music"></span> Music Info</h3>
<p>I love good music! You can ask me music-related stuff and I'll gladly reply as accurate as possible. Don't judge me!</p>

<h4><span class="fa fa-heart"></span> Top Tracks Lookup</h4>
<p>Every artist has a &quot;must listen&quot; listen. I know all of the best songs that you should now about from any artist.</p>
<p>Eg: &quot;<strong>What are the best songs by Korn?</strong>&quot;</p>

<h4><span class="fa fa-heart"></span> Top Albums Lookup</h4>
<p>Need to know about an artist's best albums? I can help you with that too if you ask me.</p>
<p>Eg: &quot;<strong>What are the best albums by Snoop Dogg?</strong>&quot;</p>

<h4><span class="fa fa-sitemap"></span> Similar Artists Lookup</h4>
<p>Want to listen to other music similar to an artist? I will reply with a list of the most similar artists once you ask me.</p>
<p>Eg: &quot;<strong>What artists sound like Kraftwerk?</strong>&quot;</p>

<h3><span class="fa fa-cloud"></span> Weather Info</h3>
<p>Don't know what to wear outside?</p>
<p>I can tell you all that you need to know about the current weather conditions in a city.</p>
<p>Eg: &quot;<strong>What is the weather like in London?</strong>&quot;</p>
<p>I can also give you a five-day weather forecast for a city if you ask me.</p>
<p>Eg: &quot;<strong>What is the weather forecast for New Your,NY?</strong>&quot;</p>

<h3><span class="fa fa-image"></span> Cat Gifs!</h3>
<p>I love all Internet cats! Tell me to show you a gif and I'll gladly smile with you at it!</p>
<p>Eg: &quot;<strong>Show me a cat gif!</strong>&quot;, &quot;<strong>Show me a kitten gif.</strong>&quot;</p>

<h3><span class="fa fa-child"></span> I can be your Mini Me</h3>
<p>Just talk to me and I'll always learn from our discussions. Don't forget that I am an Austin Powers expert!</p>